/* label focus color */
.input-field input:focus + label {
  color: #7e57c2 !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #7e57c2 !important;
  box-shadow: 0 1px 0 0 #7e57c2 !important;
}

.myBtn {
  color: #7e57c2;
  font-size: 23px;
  font-weight: 600;
  background-color: #eee8f6;
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.myBtn:focus {
  background-color: #eee8f6 !important;
}

.myBtn:hover {
  background-color: #b39ddb !important;
}

.myBtn:active {
  transform: scale(0.98);
}
